<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="深夜，破曉。">
    <link rel="icon" type="image/x-icon" href="public/img/favicon.ico">
    <link rel="shortcut icon" href="public/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="192x192" href="public/img/favicon.png">
    <title>深夜，破曉。</title> 
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div id="img_404">
        <img src="public/img/404_512.jpg" alt="404 page image"
            srcset="/public/img/404_512.jpg 512w, public/img/404_1024.jpg 1024w">
    </div>
</body>
</html>