<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!--     <link rel="icon" type="image/x-icon" href="./public/images/favicon_v2.png">
    <link rel="shortcut icon" href="./public/images/favicon_v2.png"> -->
    <link rel="apple-touch-icon" sizes="192x192" href="/public/img/favicon.png">
    <title>深夜，破曉</title>
    <link rel="stylesheet" href="/public/css/404.css">
</head>
<body>
    <a href="/"><img id="img_404" src="/public/img/404.jpg" alt=""></a>
</body>
</html>