<!DOCTYPE html>
<html lang="zh-CN" ng-app="ShinyaApp" ng-csp>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="深夜，破曉。">
    <base href="/">
<!--     <link rel="icon" type="image/x-icon" href="./public/img/favicon_v2.png">
    <link rel="shortcut icon" href="./public/images/favicon_v2.png"> -->
    <link rel="apple-touch-icon" sizes="192x192" href="/public/img/favicon.png">
    <title>深夜，破曉。</title>
    <link rel="stylesheet" href="/public/dist/libs.min.css">
    <link rel="stylesheet" href="/public/dist/sy.min.css">
</head>
<body ng-controller="rootController">

    <sy-logo></sy-logo>

    <!-- ng-if 無須綁定值，當 libs.js 加載完畢會自動終結「開場動畫」 -->
    <div id="opening_animation" ng-if="">
        <div class="vertically_center">
            <div class="load_animate"></div>
        </div>
    </div>

    <div id="outer_box" ng-view ng-class="{'logo_loaded': isLogoLoaded}"></div>

    <script src="/public/dist/libs.min.js"></script>
    <script src="/public/dist/sy.min.js"></script>

</body>
</html>
