html {
    height: 100%;
    overflow: hidden;
}
body {
    /* inherit */
    /* @lianghai http://www.zhihu.com/question/19911793/answer/13329819 */
    width: 100%;
    font-family: "Helvetica Neue","Palatino","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    background-color: #535353;
    -webkit-touch-callout:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
* {
    padding: 0;
    border: 0;
    margin: 0 auto;
    cursor: default;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*
::-webkit-input-placeholder {
    color:    #D0D0D0;
}
*/
::-webkit-scrollbar { 
    display: none; 
}
a, a:active, a:hover, a:visited {
    color: black;
    cursor: pointer;
}
input {
    font: inherit;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    user-select: auto !important;
}
input:focus, button:focus {
    outline: none;
}
ul {
    list-style: none;
}

.logo {
    margin: 10px auto;
    max-width: 9%;
}

/* main_box */
.main_box {
    position: absolute;
    top: 20%;
    left: 21.875%;
    width: 56.25%;
    height: 60%;
    background: #fff;
    -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.50);
    box-shadow:      0px 3px 15px 0px rgba(0,0,0,0.50);
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    .main_box .logo {
        display: none;
    }
    .main_box .bottom_right_corner {
        position: absolute;
        bottom: 10px;
        right: 17px;
        z-index: 999;
    }
        .main_box .bottom_right_corner a {
            font-size: 12px;
            color: #CECECF;
        }
    .main_box .bottom_center_corner {
        position: absolute;
        width: 100%;
        bottom: 10px;
        left: 0px;
        font-size: 10px;
        color: #CECECF;
    }
        .main_box .bottom_center_corner #distance {
            position: relative;
            top: 4px;
            padding: 0 10px;
            border-top: 1px solid #CECECF;
            font-size: 7px;
        }
        .main_box .bottom_center_corner a {
            color: #CECECF;
        }
    .main_box .bottom_left_corner {
        position: absolute;
        bottom: 10px;
        left: 17px;
        font-size: 12px;
        color: #CECECF;
        z-index: 999;
    }
        .main_box .bottom_left_corner .geoStatus {
            position: relative;
            top: 2px;
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            border: 1px solid #CECECF;
        }
            .main_box .bottom_left_corner .geoStatus .geoOnAndOff {
                position: relative;
                top: 1px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                border: 1px solid #CECECF;
                cursor: pointer;
            }
            .main_box .bottom_left_corner .geoStatus .geoOn {
                background-color: #CECECF;
            }

    #returnToPreviousStep {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
        color: #555;
        font-size: 20px;
        background-color: transparent;
        border: 1px solid #CECECF;
        border-radius: 20px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        cursor: pointer;
    }
    #returnToPreviousStep:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #000;
        border-radius: 5px;
        top: 0px;
        left: 0px;
    }
/* form_box */
.form_box {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 50%;
}
    .form_box h2 {
        margin: 0px auto 33px;
    }
    .form_box .form_title {
        margin-bottom: 20px;
    }
        .form_box .form_title span {
            margin: 5px;
            padding: 4px;
            border-radius: 4px;
            cursor: pointer;
        }
        .form_box .form_title #register_span {
            color: #fff;
            background-color: #4EBD4A;
            cursor: default;
        }
        .form_box .form_title #login_span {
            color: #fff;
            background-color: #47B2E3;
            cursor: default;
        }
    .form_box input, .notification {
        display: block;
        width: 50%;
        margin: 3.5% auto;
        padding: 1.4%;
        line-height: 20px;
        color: #555;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #CECECF;
        overflow: hidden;
        -webkit-appearance: none;
    }
    .form_box .notification#error_msg {
        color: #fff;
        background-color: #CB1B45;
        border: 1px solid #CB1B45;
    }    
    .form_box .notification#ok_msg {
        color: #fff;
        background-color: #4EBD4A;
        border: 1px solid #4EBD4A;
    }
/* chat_box */
#chat_box {
    padding: 5px;

}
    #chat_box .all {
        width: 100%;
        margin: 5px auto;
    }
    #chat_box .all .content_box {
        padding: 4px 10px;
        max-width: 66.7%;
        border-radius: 7px;   
    }
        #chat_box .all .content_box pre {
            -webkit-user-select: text;
            text-align: left;
            word-wrap: break-word;
            white-space: pre-wrap;
            font: inherit;
            cursor: text;
        }
        #chat_box .all .content_box pre::selection {
            background-color: #000;
            color: #FFF;
        }
        #chat_box .all .content_box pre::-moz-selection {
            background-color: #000;
            color: #FFF;
        }
    #chat_box .me {
        float: right;
    }
        #chat_box .me .content_box {
            float: right;
            color: #FFF;
            background-color: #4EBD4A;
        }
    #chat_box .info_box {
        font-size: 10px;
        color: #666;
        margin-bottom: 5px;
    }
        #chat_box .info_box span {
            border-bottom: 1px solid #666;
        }
    #chat_box .username_box {
        /* gold / aluminum / steel */
        text-align: left;
        font-size: 11px;
        margin-top: 10px;
        margin-bottom: 1px;
        color: #000;
    }
        #chat_box .username_box span {
            border-radius: 4px;
            padding: 0px 2px;
        }
    #chat_box .others {
        float: left;
    }
        #chat_box .others .content_box {
            float: left;
            color: #000;
            background-color: #CECECF;
        }
#notify_box {
    position: absolute;
    left: 48%;
    top: 81%;
    width: 4%;
    padding: 1px;
    font-size: 12px;
    background-color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}
/* info_box */
#user_info_box {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 70%;
}
    #user_info_box #info_username_box {
           
    }
    #user_info_box #info_numero_box {
        margin-bottom: 10%;
        font-size: 12px;
        color: #555;
    }
        #user_info_box #info_numero_box span {
            padding: 1px 5px;
            border-radius: 5px;
            border-left-style: solid;
            border-left-width: 2px;
            border-right-style: solid;
            border-right-width: 2px;
        }
            #user_info_box #info_numero_box span.gold {
                border-color: #D4AF37;
            }
            #user_info_box #info_numero_box span.aluminum {
                border-color: #999;
            }
            #user_info_box #info_numero_box span.steel {
                border-color: #666;
            }
    #user_info_box #info_date_box > div {
        margin: 3% auto;
    }
    #user_info_box #info_date_box .date span {
        cursor: pointer;
        border-bottom: 1px solid #000;
    }
    #user_info_box #info_date_box .all {
        width: 34px;
        height: 34px;
        font-size: 12px;
        line-height: 34px;
        border: 1px solid #FFF;
        border-radius: 17px;
        -webkit-border-radius: 17px;    
        cursor: pointer;
    }
        #user_info_box #info_date_box span {
            cursor: pointer;
        }
        #user_info_box #info_date_box .daytime {
            border: 1px solid #000;
        }
            #user_info_box #info_date_box .daytime.rain {
                width: 30px;
                height: 30px;
                border-top-left-radius: 0px;
                margin-top: 20%;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            #user_info_box #info_date_box .daytime.wind {
                width: 50px;
                height: 25px;
                margin-top: 8%;
                border-radius: 0 25px 0 25px;
                -webkit-transform: rotate(1440deg);
                transform: rotate(1440deg);
            }
            #user_info_box #info_date_box .daytime.sun {
                margin-top: 5%;
                border: 1px solid #000;
                border-top: 17px solid #000;
                border-bottom: 17px solid #000;
                -moz-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, .50);
                box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, .50);
            }
            #user_info_box #info_date_box .daytime.fog {
                margin-top: 7%;
                border: 1px solid rgba(206, 206, 207, 0.7);
                border-right: 1px solid rgba(206, 206, 207, 0);
                background-color: rgba(206, 206, 207, 0.7);
                -moz-box-shadow: 17px 17px 37px 37px rgba(206,206,207,0.7);
                box-shadow: 17px 17px 37px 37px rgba(206,206,207,0.7);
            }
        #user_info_box #info_date_box .night {
            color: #fff;
            background-color: #000;
            border: 1px solid #000;
        }
            #user_info_box #info_date_box .night.rain {
                width: 30px;
                height: 30px;
                background-color: #fff;
                border-top-left-radius: 0px;
                margin-top: 20%;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            #user_info_box #info_date_box .night.wind {
                width: 50px;
                height: 25px;
                margin-top: 8%;
                border-radius: 0 25px 0 25px;
                -webkit-transform: rotate(1440deg);
                transform: rotate(1440deg);
            }
            #user_info_box #info_date_box .night.sun {
                margin-top: 5%;
                border: 1px solid #000;
                border-top: 17px solid #000;
                border-bottom: 17px solid #000;
                -moz-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, .50);
                box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, .50);
            }
            #user_info_box #info_date_box .night.fog {
                margin-top: 7%;
                border: 1px solid rgba(0, 0, 0, 0.7);
                border-right: 1px solid rgba(0, 0, 0, 0.3);
                background-color: rgba(0, 0, 0, 0.8);
                -moz-box-shadow: 17px 17px 37px 37px rgba(0, 0, 0,0.7);
                box-shadow: 17px 17px 37px 37px rgba(0, 0, 0,0.7);
            }

/* info_news_inner_box */
#info_news_inner_box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}
    #info_news_inner_box #info_news_content_box {
        overflow: hidden;
        white-space:nowrap;
        text-align: left;
        text-overflow: ellipsis;
        margin: 5% auto;
    }
        #info_news_inner_box #info_news_content_box span {
            font-size: 12px;
            color: #CECECF;
        }
        #info_news_inner_box #info_news_content_box a {
            border-bottom: 1px solid #000;
            padding-bottom: 1px;
        }
    #info_news_inner_box #info_news_source span {
        position: absolute;
        right: 0px;
        border-top: 1px solid;
        color: #CECECF;
        font-size: 10px;
        padding: 1px;
    }
/* info_news_outer_box */
#info_news_outer_box {

}
    #info_news_title {
        position: absolute;
        top: 30px;
        width: 100%;
    }
    #info_news_select_date {
        position: absolute;
        bottom: 10px;
        width: 100%;
        font-size: 14px;
    }
        #info_news_select_date > span {
            font-weight: bold;
            cursor: pointer;
        }
        #info_news_now {
            display: inline-block;
            font-size: 11px;
            padding: 0 3px;
        }

/* chat_submit_box */
#chat_submit_box {
    position: absolute;
    top: 85%;
    left: 21.875%;
    width: 56.25%;
    height: 6%;
    background: #fff;
    border-radius: 4px;

}
#chat_submit_box form {
    width: 100%;
    height: 100%;
}
#chat_submit_box input {
    text-align: left;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    -webkit-appearance: none;
}
.sunAndMoon {
    position: absolute;
    top: 17%;
    left: 78.125%;
    width: 17px;
    height: 17px;
    color: #fff;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;    
}
.sunAndMoon.sun {
    border-right: 17px solid #fff;
}
.sunAndMoon.moon {
    border-right: 3px solid #fff;
}
#userCount {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 12px;
    color: #CECECF;
}
/* Animate */
input,
.sunAndMoon,
#info_date_box .all,
.general_animate.ng-animate {
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
#returnToPreviousStep {
    -webkit-transition: all .7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition:         all .7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
#info_date_box .all.rain {
    -webkit-transition: all .7s cubic-bezier(0.55, 0.055, 0.675, 0.19) .7s;
    transition:         all .7s cubic-bezier(0.55, 0.055, 0.675, 0.19) .7s;
}
#info_date_box .all.wind {
    -webkit-transition: all 2.8s ease-in-out .7s;
    transition:         all 2.8s ease-in-out .7s;    
}
#info_date_box .all.sun,
#info_date_box .all.frog {
    -webkit-transition: all .7s ease-in-out .7s;
    transition:         all .7s ease-in-out .7s;
}
    input.submit_animate:hover {
        border-color: #000;
        color: #000;
    }
    #returnToPreviousStep:hover {
        border-color: #000;
        color: #000;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
        input.ng-invalid-email,
        input.ng-invalid-maxlength {
            border: 1px solid #CB1B45;
        }
        input.ng-touched.ng-invalid-required {
            border: 1px solid #FCD20A;
        }
    .general_animate.ng-enter,
    .general_animate.ng-leave.ng-leave-active,
    .general_animate.ng-hide {
      opacity:0;
    }
    .general_animate.ng-leave,
    .general_animate.ng-enter.ng-enter-active {
      opacity:1;
    }
.input_shake_animate {
    animation: input_shake_animate .5s ease-in-out;
    -webkit-animation: input_shake_animate .5s ease-in-out;
}
@keyframes input_shake_animate {
    0 {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    12.5% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    37.5% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    62.5% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    87.5% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes input_shake_animate {
    0 {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    12.5% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    37.5% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    62.5% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    87.5% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes notify_box_animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes notify_box_animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* 404  */
#img_404 {
    position: absolute;
    width: 100%;
    height: 100%;
}
#img_404 img {
    display: block;
    position: relative;
    height: 77%;
    top: 11.5%;
    -webkit-touch-callout: default;
}
/* Mobile Phone in portrait and landscape */
@media (max-device-width : 767px), (max-width: 767px) {
    .main_box {
        width: 94%;
        height: 95.5%;
        top: 3.5%;
        left: 3%;
        overflow: scroll;
    }
    .main_box.chat_box {
        height: 89%;
        border-radius: 10px 10px 0 0;
    }
        .main_box .logo {
            display: block;
            max-width: 30%;
        }
        .main_box .bottom_right_corner {
            bottom: 2%;
            right: 5%;
        }        
        .main_box .bottom_center_corner {
            bottom: 2%;
        }
        .main_box .bottom_left_corner {
            bottom: 2%;
            left: 5%;
        }
    .form_box {
        top: 33.3%;
        left: 19.1%;
        width: 61.8%;
        height: 33.3%;
    }
        .form_box input, .notification {
            width: 95%;
            margin: 7% auto;
            padding: 2.5%;
        }
    #notify_box {
        left: 41%;
        top: 88%;
        width: 17%;
        padding: 3px;
        background-color: #000;
        border-radius: 4px;
        color: #fff;
    }
    #user_info_box {
        top: 15%;
        left: 10%;
        width: 80%;
        height: 70%;
    }
        #user_info_box #info_numero_box {
            margin-bottom: 40%;
        }
        #user_info_box #info_date_box > div {
            margin: 7% auto;
        }
    #chat_submit_box {
        top: 92.5%;
        left: 3%;
        width: 94%;
        height: 6.5%;
        border-top: 1px solid #CECECF;
        border-radius: 0px 0px 10px 10px;
    }
    #img_404 img {
        height: 50%;
        top: 25%;
    }
}
/* Mobile Phone in landscape */
@media (max-device-width : 767px) and (orientation : landscape), 
(max-width: 767px) and (orientation : landscape) {
    .main_box {
        width: 97%;
        height: 97%;
        top: 1.5%;
        left: 1.5%;
        overflow: scroll;
    }
    .main_box.chat_box {
        height: 89%;
        border-radius: 10px 10px 0 0;
    }
    .main_box .logo {
        max-width: 10%;
    }
    .form_box {
        top: 30%;
        height: 40%;
    }
        .form_box input, .notification {
            width: 80%;
            margin: 4% auto;
            padding: 1.3%;
            line-height: 20px;
        }
    #user_info_box #info_numero_box {
        margin-bottom: 7%;
    }
    #user_info_box #info_date_box > div {
        margin: 4% auto;
    }
    #notify_box {
        top: 80%;
    }  
    #chat_submit_box {
        top: 90.5%;
        left: 1.5%;
        width: 97%;
        height: 8%;
        border-top: 1px solid #CECECF;
        border-radius: 0px 0px 10px 10px;
    }
    #img_404 img {
        height: 90%;
        top: 5%;
    }
}
/* iPad in portrait and landscape */
@media (min-device-width : 768px) and (max-device-width : 1024px),
  (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 17px;
    }
    .main_box {
        width: 96%;
        height: 96%;
        top: 2%;
        left: 2%;
    }
    .main_box.chat_box {
        height: 89.5%;
        border-radius: 10px 10px 0 0;
    }
        .main_box .logo {
            display: block;
            max-width: 30%;
        }
    .form_box {
        top: 33.3%;
        left: 19.1%;
        width: 61.8%;
        height: 33.3%;
    }
        .form_box .form_title {
            margin-bottom: 30px;
        }
        .form_box .form_title span {
            margin: 7px;
            padding: 7px;
            border-radius: 5px;
        }
        .form_box input, .notification {
            width: 60%;
            margin: 4% auto;
            padding: 1.3%;
            line-height: 25px;
        }
    #notify_box {
        left: 46%;
        top: 88%;
        width: 8%;
        padding: 3px;
        font-size: 14px;
        background-color: #000;
        border-radius: 4px;
        color: #fff;
    }
    #user_info_box #info_numero_box {
        margin-bottom: 40%;
    }
    #user_info_box #info_date_box > div {
        margin: 7% auto;
    }
    #chat_submit_box {
        top: 91.5%;
        left: 2%;
        width: 96%;
        height: 6.5%;
        border-top: 1px solid #CECECF;
        border-radius: 0px 0px 10px 10px;
    }
    #img_404 img {
        height: 60%;
        top: 20%;
    }
}
/* iPad in landscape */
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape),
  (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) { 
    .main_box .logo {
        max-width: 15%;
    }
    #user_info_box #info_numero_box {
        margin-bottom: 22%;
    }
    #user_info_box #info_date_box > div {
        margin: 5% auto;
    }
    #notify_box {
        top: 87%;
    }
}
