<div class="main_box" ng-class="{'input_shake_animate': input_shake_animate, 'chat_box': isChatBox}" ng-swipe-left="toggleChatBox()" ng-swipe-right="toggleChatBox()" ng-swipe-disable-mouse sy-autoscroll>
    <div ng-switch on="isChatBox">
        <div class="general_animate" ng-switch-when="true">
            <div id="chat_box">
                <div ng-repeat="contentItem in msgInbox">
                    <div class="all" ng-class="{'me': contentItem.isMe, 'others': !contentItem.isMe}">
                        <div ng-if="contentItem.isShowDate" class="info_box">
                            <span>{{contentItem.date | date: 'H:mm:ss'}}</span>
                        </div>
                        <div ng-if="!contentItem.isMe" class="username_box">
                            <span>{{contentItem.username}}</span>
                        </div>
                        <div class="content_box">
                            <pre>{{contentItem.msg}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="general_animate" ng-switch-when="false">
            <div id="user_info_box">
                <div ng-if="!isNews">
                    <div id="info_username_box">
                        <h2>{{infoBox.username}}</h2>
                    </div>
                    <div id="info_numero_box">
                        <p>第 <span ng-class="numero">{{infoBox.numero}}</span> 號用戶</p>
                    </div>
                    <div id="info_date_box">
                        <h3>加入於</h3>
                        <div class="date">
                            <span><a ng-click="getSelectedDateNews()">{{infoBox.date}}</a></span>
                        </div>
                        <div class="all" ng-class="[getDaytimeOrNight, partWeather]" ng-click="getPartWeather()">
                            <span class="general_animate" ng-show="!partWeather">{{infoBox.partsOfADay}}</span>
                        </div>
                    </div>
                </div>
                <div ng-if="isNews">
                    <div id="info_news_inner_box">
                        <div ng-repeat="news in selectDateNewsBox">
                            <div ng-repeat="item in news.news">
                                <div id="info_news_content_box">
                                    <span>{{item.date | date: 'HH:mm'}}</span>
                                    <a ng-href="{{item.url}}" target="_blank">{{item.title}}</a>
                                </div>
                            </div>
                            <div id="info_news_source">
                                <span>來源：{{news.source_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="isNews" id="info_news_outer_box">
                <div id="info_news_title">
                    <h3>當日新聞</h3>
                </div>
                <div id="info_news_select_date">
                    <span ng-click="previousHour()">&lt;</span>
                    <div id="info_news_now">
                        <span>{{selectDate}}:00</span>
                    </div>
                    <span ng-click="nextHour()">&gt;</span>                    
                </div>

            </div>
            <div ng-if="!isNews">
                <div class="bottom_left_corner">
                    <div class="geoStatus">
                        <div ng-class="{'geoOn': isGeoOn}" class="geoOnAndOff" ng-click="toggleGeoServices()">
                        </div>
                    </div>
                </div>
                <div class="bottom_center_corner">
                    <span><a ng-href="http://maps.google.com/maps?z=12&t=h&q=loc:{{geoBox.last_geo.lat}}+{{geoBox.last_geo.lon}}" target="_blank">{{geoBox.last_geo.location}}</a></span>
                    <span id="distance">{{geoBox.distance}}</span>
                    <span>
                        <a ng-href="http://maps.google.com/maps?z=12&t=h&q=loc:{{geoBox.now_geo.lat}}+{{geoBox.now_geo.lon}}" target="_blank">{{geoBox.now_geo.location}}</a>
                    </span>
                </div>
                <div class="bottom_right_corner">
                    <a ng-click="quit()">註銷用戶</a>
                </div>
            </div>
            <div ng-show="isNews" id="returnToPreviousStep" ng-click="toggleNewsBox()">
            </div>
        </div>
    </div>
</div>
<div ng-if="!isMobile" class="sunAndMoon" ng-class="{'sun': isSun, 'moon': !isSun}" ng-click="toggleChatBox()"> 
</div>
<sy-usercount></sy-usercount>
<sy-beep></sy-beep>
<div id="chat_submit_box" class="general_animate" ng-show="isChatBox">
    <form sy-hide-keyboard novalidate ng-submit="emitTextMsg()" name="form">
        <input type="text" ng-model="msgOutbox.textMsg" sy-autofocus ng-maxlength="1024">
    </form>
</div>