<div class="main_box" ng-class="{'input_shake_animate': input_shake_animate}">
    <div class="form_box">
        <h2>尋找你的帳戶</h2>
        <form novalidate name="form">
            <div ng-switch on="step">
                <div ng-switch-when="1">
                    <input sy-autofocus type="email" ng-model="forgot.email" name="email" placeholder="電郵地址" required>
                    <input class="submit_animate forgot_submit" type="submit" ng-click="forgotEmailSubmit()" value="提交">
                </div>
                <div ng-switch-when="2">
                    <input sy-autofocus type="text" ng-model="forgot.code" name="code" placeholder="驗證碼" required>
                    <input class="submit_animate forgot_submit" type="submit" ng-click="gotoStepThree()" value="提交">
                </div>
                <div ng-switch-when="3">
                    <input sy-autofocus type="password" ng-model="forgot.password" name="password" placeholder="新密碼" required>
                    <input class="submit_animate forgot_submit" type="submit" ng-click="forgotCodeSubmit()" value="提交">
                </div>
            </div>

        </form>
        <sy-notify></sy-notify>
    </div>
    <div ng-if="step!==2" id="returnToPreviousStep" ng-click="returnToPreviousStep()"></div>
</div>